.main
{
  margin-top: 50px;
}

.navbar-header .navbar-brand
{
  color: white;
  margin-left: 2px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;

}

.navbar{
  background-color: #009688;
}

.navbar-inverse .navbar-nav>li>a
{
  color: white;
  margin-right: 5px;
  letter-spacing: 2px;
}


.navbar-inverse .navbar-nav>li>a:hover
{
  background-color: black;
 
}

