.nav-wrapper
{
  background-color: #009688;
}
.brand-logo
{
  margin-left: 1%;
  letter-spacing: 4px;
  font-weight: bold;
}

#topbarsearch .input-field .prefix { 
	  
	margin-left: 10px; 
  }        
#topbarsearch nav ul li:hover, nav ul li.active {
			background-color: white;
			width: 200px;
  }
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content
{
	margin-left: 4rem ;
	width: 200px;
	background-color: white;
	border-radius: 10px;
	color: black;
}

.find
{
	margin-left: 0px;;
}


html{
	height:100%;
	background:#42426b;
	background:radial-gradient(#31314a,#42426b);
	background-repeat:no-repeat;
}
body{
	margin:0;
	color:#444;
	
	font:300 18px/18px Roboto, sans-serif;
}
*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.rangeslider,
.rangeslider__fill {
	display:block;
	border-radius:10px;
}

.rangeslider {
	position:relative;
}
.rangeslider:after{
	top:50%;
	left:0;
	right:0;
	content:'';
	width:100%;
	height:5px;
	margin-top:-2.5px;
	border-radius:5px;
	position:absolute;
	background:#212131;
}

.rangeslider--horizontal{
	width:100%;
	height:28px;
}

.rangeslider--vertical{
	width:5px;
	min-height:150px;
	max-height:100%;
}
.rangeslider--disabled{
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity:0.4;
}

.rangeslider__fill{
	position:absolute;
	background:#ff637b;
}
.rangeslider--horizontal .rangeslider__fill{
	top:0;
	height:100%;
}
.rangeslider--vertical .rangeslider__fill{
	bottom:0;
	width:100%;
}

.rangeslider__handle{
	top:50%;
	width:28px;
	height:28px;
	cursor:pointer;
	margin-top:-14px;
	background:white;
	position:absolute;
	background:#ff637b;
	border-radius:50%;
	display:inline-block;
}
.rangeslider__handle:active{
	background:#ff5a7b;
}

.rangeslider__fill,
.rangeslider__handle{
	z-index:1;
}
.rangeslider--horizontal .rangeslider__fill{
	top:50%;
	height:5px;
	margin-top:-2.5px;
}

/* Budget */
.budget-wrap{
	padding:5px;
	background:#292942;
	box-shadow:0 15px 15px 0 rgba(0,0,0,.21),0 16px 28px 0 rgba(0,0,0,.22);
}
.budget-wrap .header .title{
	color:#fff;
	font-size:25px;
	margin-bottom:10px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 5px;
}
.budget-wrap .header .title .pull-right{
	color:#ff5a84;
	font-size:24px;
	font-weight:400;
}
.budget-wrap .footer{
	margin-top:20px;
}
.budget-wrap .footer .btn{
	color:inherit;
	border-radius:20px;
	display:inline-block;
  text-decoration:none;
  text-align: center;
}
.budget-wrap .footer .btn.btn-def{
	color:#525263;
}
.budget-wrap .footer .btn.btn-pri{
	color:#eee;
	background:#ff5a84;
}

.find
{
	font-weight: bold;
}

.fav-phone
{
	color: white;
	font-size: 25px;
	font-weight: bold;
	margin-left: 20px;
}

.card .card-image img
{
	border: 2px solid white;
}

.card .card-title
{
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 3px;
}